name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -v ./...

  build:
    runs-on: ubuntu-latest
    needs: test
    environment: prod

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=${GITHUB_REF#refs/tags/}
          echo "Building image with tag $IMAGE_TAG"
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/profile-service:$IMAGE_TAG .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/profile-service:$IMAGE_TAG

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: dev

    steps:
      - uses: actions/checkout@v4

      - name: Setup kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DEV }}" | base64 --decode > $HOME/.kube/config

      - name: Checkout Helm repo
        uses: actions/checkout@v4
        with:
          repository: APSList/Hostflow
          path: helm
          token: ${{ secrets.GH_TOKEN }}

      - name: Deploy to DEV with Helm
        run: |
          helm upgrade --install hostflow-prod ./charts/profile-service \
            --namespace prod \
            --set image.repository=${{ secrets.DOCKERHUB_USERNAME }}/profile-service \
            --set image.tag=${GITHUB_REF#refs/tags/} \
            --set image.pullPolicy=Always
